[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Martin Milan
	email = martin12333@users.noreply.github.com

[core]
	autocrlf = input
[merge]
	verbosity = 4
[gui]
	encoding = utf-8
	fontdiff = -family \"Segoe UI\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
