#*
#!*/

*/


OLD/
**/OLD/


!OneDrive/

!OneDrive/*/

!OneDrive/*/*/

!OneDrive/*/*/*/

!OneDrive/*/*/*/*/

!OneDrive/*/*/*/*/*/

!OneDrive/*/*/*/*/*/*/

#!OneDrive/*/*/*/*/*/*/*/

OneDrive/Obr*/

OneDrive/alm*/





*.*


!*.zip


!*disk

!*.gpg
!*sums
!*SUMS

!*MD5*
!*md5*

!*SHA1*
!*sha1*

!*SHA256*
!*sha256*



!.*
!*.cfg

!*.sh
!*istory*
!*.cmd


!*.txt


!*.crash
!*.log



ntuser.*
NTUSER.*
.Rproj.user

